*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-size: 13px;
}

body{
  background: rgb(217,217,217);
  background: linear-gradient(52deg, rgba(217,217,217,1) 0%, rgba(255,255,240,1) 100%);
}
